@charset "UTF-8";
/*SCSS 변수 선언*/
html {
  font-family: "Montserrat", "NanumBarunGothic", sans-serif;
  font-size: 12px;
}

body {
  background: #333;
  line-height: 1.6;
  height: 3000px;
}

/*
1.6 -> 각 영역별 적용된 글자크기에 비례해서 1.6배를 적용
1.6em -> 현재 body의 글자크기(12px)에 비례해서 1.6배인 19.2px로 적용
*/
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

/*SCSS는 저렇게 안에 적어도 됨*/
header {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
header .inner {
  padding: 0 100px;
}
header a:hover {
  color: #20bec6;
}
header #logo {
  margin: 18px 50px 0 15px;
  float: left;
  /*로고가 무조건 hover효과가 들어가게 !important 부여*/
}
header #logo a {
  width: 100px;
  height: 28px;
  background: url("../images/logo.png") no-repeat;
  background-size: 100% auto;
  text-indent: -9999px;
  transition: all 0.2s ease-in-out;
}
header #logo a:hover {
  background-position: 0 bottom !important;
}
header.scrolled {
  background: #fff;
  color: #333;
  padding: 0;
  border-bottom: 1px solid #eee;
}
header.scrolled #logo a {
  background-position: 0 -28px;
}
header.scrolled #gnb a::after {
  background: #333;
}

#gnb {
  /*&를 붙이면 gnb에 hover를 붙이는 것*/
}
#gnb li {
  float: left;
  margin-top: 8px;
}
#gnb a {
  width: 70px;
  padding: 15px;
  font-weight: bold;
}
#gnb a::after {
  content: "";
  display: block;
  background: #fff;
  width: 0;
  height: 2px;
  transition: all 0.2s ease-in-out;
}
#gnb a:hover::after {
  width: 100%;
}
#gnb .sub {
  display: none;
  padding-bottom: 20px;
  /*영어는 철자가 아니라 단어로 줄바꿈이 됨
  BRAND STORY는 줄바꿈이 되지만 ARCHITECTURE 줄바꿈이 되지 않음*/
}
#gnb .sub li {
  float: none;
  margin: 0 0 0 15px;
}
#gnb .sub a {
  font-weight: normal;
  padding: 0;
  font-size: 10px;
  white-space: nowrap;
}
#gnb .sub a::after {
  display: none;
}
#gnb .sub a:hover {
  text-decoration: underline;
}
#gnb:hover .sub {
  display: block;
}

#sns {
  float: right;
}
#sns li {
  float: left;
  margin-top: 8px;
}
#sns a {
  padding: 15px 5px;
}

#main_view {
  /*end:slider*/
}
#main_view .slider {
  display: flex;
}
#main_view .slider .view {
  width: 100%;
  height: 100vh;
  background: center/cover no-repeat;
  flex-shrink: 0;
}
#main_view .slider .view1 {
  background-image: url("../images/view01.jpg");
}
#main_view .slider .view2 {
  background-image: url("../images/view02.jpg");
}
#main_view .slider .view3 {
  background-image: url("../images/view03.jpg");
}
#main_view .slider .view4 {
  background-image: url("../images/view04.jpg");
}
#main_view .slider .view5 {
  background-image: url("../images/view05.jpg");
}
#main_view .slider .view6 {
  background-image: url("../images/view06.jpg");
}

/*end:main_view*/