@charset "utf-8";

/*SCSS 변수 선언*/
$main : #20bec6;

html{ font-family: "Montserrat",'NanumBarunGothic',sans-serif;
font-size:12px;}

body{line-height:1.6;}
/*
1.6 -> 각 영역별 적용된 글자크기에 비례해서 1.6배를 적용
1.6em -> 현재 body의 글자크기(12px)에 비례해서 1.6배인 19.2px로 적용
*/
a{display:inline-block; text-decoration:none; color:inherit;}
//color:inherit; -> 부모의 컬러를 따라감




/*SCSS는 저렇게 안에 적어도 됨*/
header{position:fixed; width:100%; padding:20px 0; color:#fff;
    transition:all .3s ease-in-out; z-index:100;
    .inner{padding:0 100px;}
    a:hover{color:$main;} //sns아이콘도 글자라서 header의 a에게 설정
    #logo{
        margin:18px 50px 0 15px; float:left;
        a{width:100px; height:28px; 
        background:url("../images/logo.png") no-repeat;
        background-size:100% auto; text-indent:-9999px;
        transition:all .2s ease-in-out;}
        a:hover{background-position:0 bottom !important;}
        /*로고가 무조건 hover효과가 들어가게 !important 부여*/
    }//end:#logo
    &.scrolled{
        background:#fff; color:#333; padding:0;
        border-bottom:1px solid #eee;
        #logo a{background-position:0 -28px;}
        #gnb a::after{background:#333;}
    }//end:.scrolled
}//end:header


#gnb{
    li{float:left; margin-top:8px;}
    a{width:70px; padding:15px; font-weight:bold;}
    a::after{content:""; display:block; background:#fff;
    width:0; height:2px; transition:all .2s ease-in-out;}
    a:hover::after{width:100%;}
    .sub{
        display:none; padding-bottom:20px;
        li{float:none; margin:0 0 0 15px;}
        /*영어는 철자가 아니라 단어로 줄바꿈이 됨
        BRAND STORY는 줄바꿈이 되지만 ARCHITECTURE 줄바꿈이 되지 않음*/
        a{font-weight:normal; padding:0; font-size:10px;
          white-space:nowrap;}
          //white-space:nowrap로 자동줄바꿈이 되지 않게 한다. 
        a::after{display:none;}
        a:hover{text-decoration:underline;}
    }//end:sub
    &:hover .sub{display:block;}
    /*&를 붙이면 gnb에 hover를 붙이는 것*/
}//end:gnb


#sns{float:right;
    li{float:left; margin-top:8px;}
    a{padding:15px 5px;}
}//end:sns








#main_view{position: relative; overflow:hidden; background:#000;
    .slider{display:flex;
    .view{width:100%; height:100vh;
    background:center/cover no-repeat; position:relative;
    flex-shrink:0;}
    //flex-shrink:0 -> 너비가 줄어들지 않게한다
    .view::before{content:""; position:absolute; top:0; left:0;
    right:0; bottom:0; background:#000; opacity:0.5;}

    @for $i from 1 through 6{ //i가 1~6까지 반복이 됨.
        .view#{$i}{background-image:url("../images/view0"+$i+".jpg");}}
    }
    .text{color:#fff; position:absolute; bottom:120px; left:120px;
        transform:translateY(50px); opacity:0;
        transition:all 0.5s ease-in-out;



        h3{font-size:50px; line-height:1.1; font-weight:normal; font-weight: 300;}

        p{font-size:18px; padding:20px 0; margin-bottom:10px;}

        a{width:150px; height:50px; line-height:50px;
            //line-height를 높이와 동일하게 하면 수직정렬 가능
        text-align:center; font-size:14px; border:1px solid #fff;}
        a:hover{color:#000; background:#fff;}

        i{display:inline-block; vertical-align:-1px; padding-left:6px;}

      
    }//end:text
        .swiper-slide-active .text{opacity:1; transform:translateY(0);
        transition-delay:0.6s;}
        //딜레이를 여기에 걸어야 나타날때만 딜레이가 걸림

    /*end:slider*/
    .pager{position:absolute; bottom:16px; left:50%; z-index:10;
        transform:translateX(-50%); 
        //translateX로 정확하게 가운데로 정렬할 수 있다.
        span{display:block; float: left; width:6px; height:6px;
        margin:0 5px; border-radius:50%; border:1px solid #fff;
        cursor: pointer; }
        span.active{background:#fff;}
    }
}/*end:main_view*/


    #works{padding-bottom:100px; border-bottom:1px solid #eee;
        h3{margin:50px 120px; font-size:20px; font-weight:bold;}
        h3 a:hover{text-decoration:underline;}
        .list{
            display:flex; flex-wrap:wrap;
            li{background:#000; border:1px solid #fff; box-sizing:border-box;
            /*
            flex-grow:커지는 비율 ㅣ flex-shrink:작아지는 비율 ㅣ flex-basis:너비값
            */
            flex:0 0 25%;  overflow: hidden; position:relative;}
            //flex:0 0 25% = 커지는 비율 : 작아지는 비율 : 너비값
            //box-sizing:border-box은 border값을 포함시킴
            li::before{content:''; display:block; padding-bottom:56%;
            background:center center/cover no-repeat; opacity:0.5;
            transition:all 0.2s ease-in-out;}
            //px대신 패딩,너비와 높이를 %로 주면 부모의 >너비를< 기준으로 적용
            li:hover::before{transform:scale(1.12,1.12); opacity:1;}

           @for $i from 1 through 12{
            li:nth-child(#{$i})::before{
                @if($i<10){
                background-image:url("../images/works/work0"+$i+".jpg");
                }@else{
                background-image:url("../images/works/work"+$i+".jpg");
                }
            }
           }//end:@for
            a{position:absolute; top:0; left:0; width:100%; height:100%;
            color:#fff;}
            h4{position:absolute; left:20px; bottom:30px; font-size:18px;
            letter-spacing:-1px; width:90%; white-space:nowrap;
            overflow:hidden; text-overflow:ellipsis; transition:all 0.3s ease-in-out;
            font-weight:bold;}
            a:hover h4{bottom:41px;}
            p{position:absolute; left:20px; bottom:15px;}
            i{margin-right:4px;}
        }//list
        .more{display:block; margin:50px auto 0; width:200px;
        height:50px; line-height:50px; text-align:center;
        color:#222; font-size:16px; border:1px solid #222;}
        .more:hover{background:#222; color:#fff;}
    }//end:works


